//320px-767px-mobile
@media screen  and (min-width: 320px)  and (max-width: 479px) {
    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .about-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 290px;
        height: 120px;
        background-color: var(--fifth-background);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    .about-title-item {
        @include font (700, 14px, 16px);
    
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        color: var(--accent-text-color);
        margin-bottom: 10px;
    }

    .about-paragraph {
        @include font (400, 14px, 24px);
    
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }
}

@media screen and (min-width: 480px) {
    .about-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        .about-list-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 450px;
            height: 120px;
            background-color: var(--fifth-background);
            border-radius: 4px;
            margin-bottom: 30px;
        }
    
        .about-title-item {
            @include font (700, 14px, 16px);
    
            letter-spacing: 0.03em;
            text-align: center;
            text-transform: uppercase;
            color: var(--accent-text-color);
            margin-bottom: 10px;
        }
    
        .about-paragraph {
            @include font (400, 14px, 24px);
    
            letter-spacing: 0.03em;
            color: var(--second-text-color);
        }
}

//768px-tablet
@media screen and (min-width: 768px) {
    .about-list-item {
        width: calc((100% - 30px)/2);
    }

    .about-list-container {
        width: 354px;
    }

    .about-title-item {
        text-align: left;
    }
}

//1200px-desktop
@media screen and (min-width: 1200px) {
    .about-list {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .about-list-item {
        width: calc((100% - 90px)/4);
    }

    .about-list-container {
        width: 270px;
    }
}