//320px-767px-mobile 
@media screen and (min-width: 320px) and (max-width: 479px) {
    .clients-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .clients-list-item {
        // flex-basis: calc((100% - (30px(gap: 30px;)*(количество))/количество);
        width: calc((100% - 30px)/2);
    }

    .clients-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 82px;
        border: 1px solid var(--seven-border-color);
        border-radius: 4px;
        transition: fill var(--transition-duration-and-func), border var(--transition-duration-and-func);
    
        &:hover,
        &:focus {
            border: 1px solid var(--second-border-color);
            border-radius: 4px;
        }
    }

    .clients-list-icon {
        fill: var(--second-fill);

        .clients-list-link:hover &,
        .clients-list-link:focus & {
            fill: var(--accent-fill);
        }
    }
}

@media screen and (min-width: 480px) {
    .clients-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        .clients-list-item {
            // flex-basis: calc((100% - (30px(gap: 30px;)*(количество))/количество);
            width: calc((100% - 30px)/2);
        }
    
        .clients-list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 226px;
            height: 92px;
            border: 1px solid var(--seven-border-color);
            border-radius: 4px;
            transition: fill var(--transition-duration-and-func), border var(--transition-duration-and-func);
    
            &:hover,
            &:focus {
                border: 1px solid var(--second-border-color);
                border-radius: 4px;
            }
        }
    
        .clients-list-icon {
            fill: var(--second-fill);
    
            .clients-list-link:hover &,
            .clients-list-link:focus & {
                fill: var(--accent-fill);
            }
        }

}

//768px-tablet
@media screen and (min-width: 768px) {
    .clients-list-item {
        width: calc((100% - 60px)/3);
    }

    .clients-list-link {
        width: 226px;
    }

}

//1200px-desktop
@media screen and (min-width: 1200px) {

    .clients-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

    .clients-list-item {
        width: calc((100% - 150px)/6);
    }

    .clients-list-link {
        width: 170px;
    }
}