.header {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logotype {
    font-family: var(--second-font);
    
    @include font (700, 24px, 28px);
    
    letter-spacing: 0.03em;
    color: var(--fourth-text-color);
    margin-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-left: 15px;
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;

    }
    
    @media screen and (min-width: 1200px) {
        @include font (700, 26px, 31px);
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logotype__header {
    color: var(--accent-text-color);
}

.menu {
    display: none;


    @media screen and (min-width: 768px) {

        display: flex;
            align-items: center;
    }
}

.menu__item:not(:last-child) {
    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }
}

.menu__link {
    position: relative;
    display: block;

    @include font (500, 14px, 16px);
    
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    list-style: none;
    text-decoration: none;
    display: block;
    transition: color var(--transition-duration-and-func);

    &:hover,
    &:focus {
        color: var(--fourth-text-color);
    }

    &.current {
        color: var(--fourth-text-color);
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.current {
    display: block;
    color: var(--third-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--third-background);
        border-radius: 2px;
        left: 0;
        bottom: -1px;
    }
}

.contact {
    display: none;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-left: 65px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contact__menu:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px){
        margin-right: 50px;
    }
}

.contact__list {
    font-style: normal;

    @include font (500, 14px, 16px);
    
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color var(--transition-duration-and-func);

    &:hover,
    &:focus {
        color: var(--fourth-text-color);
    }

    @media screen and (min-width: 768px) {
        @include font (500, 12px, 14px);
    }

    @media screen and (min-width: 1200px) {
        @include font (500, 14px, 16px);
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contact__icon { 
    @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 8px;
    
    }

    @media screen and (min-width: 1200px) {
    margin-right: 10px;
    }
}

.btn__open { 
    @media screen and (max-width: 480px) {
        display: block;
        border: none;
        margin-left: auto;
    }

    @media screen and (min-width: 481px) {
        display: none;
    }
    
}

.open__icon {
    fill: var(--fourth-fill);

    &:hover,
    &:focus {
        fill: var(--accent-fill);
    }
}

.mobile-menu {
    @media screen and (max-width: 480px) {
        position: absolute;
        top: 0;
        background-color: var(--accent-background);
        width: 100vw;
        height: 100vh;
        z-index: 100;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        
        >.container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: auto;
        }
    }

        @media screen and (min-width: 481px) {
            display: none;
        }
}

.mob-top {
    margin-bottom: 50px;
}

.btn__close {
    display: block;
    margin-left: auto;
    border: none;
}

.close__icon {
    fill: var(--fourth-fill);
} 
.carte {
    margin-bottom: 64px;
}

.carte__point:not(:last-child) {
    margin-bottom: 24px;
}

.carte__reference {
    @include font (500, 40px, 47px);
    letter-spacing: 0.02em;
}

.connect {
    margin-bottom: 64px;
}

.connect__tel {
    @include font (500, 34px, 40px);
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 32px;
}

.connect__mail {
    @include font (500, 24px, 28px);
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    
}

.societal {
    display: flex;
    
}

.societal__item {
    margin-left: 20px;
}

.societal__link {
    @include font (500, 18px, 22px);
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    
}

.societal__link:not(:last-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}