//0-767px - mobile
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--accent-background);
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        cursor: pointer;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
        transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func) ;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 100%;
        height: 100%;
    }

    .mobile-menu__container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    .mob-top {
        position: relative;
        margin-bottom: 50px;
    }

    .btn__close {
        position: absolute;
        top: 10px;
        right: 15px;
        @extend %align;
        line-height: 0;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        fill: var(--fourth-fill);
        background-color: var(--accent-background);

        transition: fill var(--transition-duration-and-func);

        &:hover,
        &:focus {
            fill: var(--accent-fill);
        }
    }
    
    .carte {
        margin-bottom: 64px;
    }
    
    .carte__point:not(:last-child) {
        margin-bottom: 35px;
    }
    
    .carte__reference {
        @include font (500, 40px, 47px);
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--accent-text-color);
    }

    .current {
        display: inline-block;
        color: var(--fourth-text-color);
    }

    .connect {
        margin-bottom: 64px;
    }

    .connect__tel {
    @include font (500, 34px, 40px);
        letter-spacing: 0.02em;
        color: var(--fourth-text-color);
    }

    .connect__mail {
    @include font (500, 24px, 28px);
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        margin-top: 32px;
    }
    
    .societal {
        display: inline-flex;
    }
    
    .societal__item {
        margin-left: 20px;
    }
    
    .societal__link {
        @include font (500, 18px, 22px);
        letter-spacing: 0.02em;
        color: var(--fourth-text-color);
        text-decoration: none;
        margin: 0;
    }
    
    .societal__link:not(:last-child)::after {
        content: "";
        width: 22px;
        height: 1px;
        background: rgba(33, 33, 33, .2);
        transform: rotate(90deg);
    }

}

//768-tablet
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
