// .container {
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;

//     @media screen and (min-width: 320px) and (max-width: 767px) {
//         width: 480px;
//         }
    
//     @media screen and (min-width: 768px) and (max-width: 1199px) {
//         width: 768px;
//     }
    
//     @media screen and (min-width: 1200px) {
//         width: 1200px;
//     }
// }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

//0-767px-mobile 
@media screen and (min-width: 480px) {
    .container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

//768px-tablet
@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
}

//1200px-dekstop
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

// //0-767px-mobile 
// @media screen and (max-width: 767px)

// //768px-tablet
// @media screen and (min-width: 768px)

// //1200px-dekstop
// @media screen and (min-width: 1200px)